.login-main-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  //--------------------------NAVBAR CONTAIER----------------------------------------//
  
  .login-nav-container {
    background-image: linear-gradient(
      to right,
      purple,
      rgb(134, 63, 134),
      rgb(137, 90, 137)
    );
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
  }
  
  .login-nav-container .link-container .btn {
    background-color: rgb(199, 106, 199);
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.6;
  }
  
  .login-nav-container .link-container:hover .btn {
    opacity: 1;
    font-weight: bold;
    color: black;
    border-right: 2px solid black;
    border-top: 2px solid black;
  }
  
  //--------------------------LOGIN CONTAIER----------------------------------------//
  
  .login-main-container .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 489px;
    width: 34%;
    background-color: rgb(199, 106, 199);
    border-right: 2px solid white;
    padding: 5px;
  }
  
  .login-main-container .login-container .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .login-main-container .login-container .input-container input {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
  }
  
  .login-main-container .login-container .input-container label {
    font-weight: 700;
    font-family: cursive;
  }
  
  .login-main-container .login-container .input-container i {
    margin-right: 3px;
  }
  
  //--------------------------IMG CONTAIER----------------------------------------//
  
  .login-main-container .login-img-container {
    width: auto;
    height: 489px;
  }
  
  .login-main-container .login-img-container .logimg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 145px;
    height: 100%;
  }
  
  //---------------------------button styling------------------------------------//
  
  .login-main-container .login-container .button-contanier {
    margin-top: 30px;
  }
  
  .login-button {
    position: relative;
    left: 35%;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: purple;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.6;
  }
  
  .login-button:hover {
    padding: 5px;
    opacity: 1;
    font-weight: 500;
    font-size: large;
  }
  
  .login-main-container .to-signup-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .login-main-container .to-signup-page-container .link-contanier {
    margin-left: 5px;
  }
  
  .login-main-container .to-signup-page-container .link-contanier:hover {
    font-weight: bolder;
    font-size: larger;
    border-radius: 20px;
    text-shadow: 0 0 20px red;
  }
  
  .errormsg {
    display: none;
    text-align: center;
  }
  
  .errormsg.mailerrmsg {
    display: block;
  }
  
  .errormsg.Passworderrmsg {
    display: block;
  }
  
  //------------------------resizing mediaquary -----------------------------------------//
  
  @media (max-width: 980px) {
    .login-main-container .login-container .input-container input {
      width: 200px;
      height: 40px;
      border-radius: 10px;
      border: none;
      text-align: center;
    }
  
    .login-main-container .login-container .input-container label {
      font-size: medium;
    }
  
    .login-main-container .login-img-container img {
      width: 100%;
    }
  
    .login-button {
      width: 150px;
      height: 50px;
    }
  }
  
  @media (max-width: 882px) {
    .login-main-container .login-container .input-container input {
      width: 170px;
      height: 30px;
    }
  
    .login-main-container .login-container .input-container label {
      font-size: small;
    }
  
    .login-button {
      width: 120px;
      height: 40px;
    }
  }
  
  @media (max-width: 735px) {
    .login-main-container .login-container {
      width: 50%;
    }
    .login-main-container .login-container .input-container input {
      width: 150px;
      height: 30px;
    }
  
    .login-main-container .login-container .input-container label {
      font-size: small;
    }
  
    .login-button {
      width: 100px;
      height: 40px;
    }
  }
  
  @media (max-width: 607px) {
    .login-main-container .login-container {
      width: 70%;
    }
    .login-main-container .login-container .input-container input {
      width: 150px;
      height: 30px;
    }
  
    .login-main-container .login-container .input-container label {
      font-size: small;
    }
  
    .login-button {
      width: 70px;
      height: 50px;
    }
  }
  
  @media (max-width: 507px) {
    .login-main-container .login-container {
      width: 70%;
    }
    .login-main-container .login-container .input-container input {
      width: 120px;
      height: 25px;
    }
  
    .login-main-container .login-container .input-container label {
      font-size: x-small;
    }
  
    .login-button {
      width: 50px;
      height: 40px;
    }
  }
  
  //------------------------resizing mediaquary ^^^^ -----------------------------------//
  
  .collapsible {
    background-color: #ca6161;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .displaycontent {
    display: block;
  }