.header {
    background: blue;
    color: rgb(72, 25, 159);
  }
  
  .banner {
    font-size: 24px;
    font-weight: bold;
  }
  
  .content {
    padding: 10px;
  }
  
  .footer {
    background: gray;
    color: rgb(87, 61, 167);
  }