.body1 {
  background-image: url("./images/zimer1.jpg");
  height: 100dvh;
  width: 100dvw;
  opacity: 0.75;
}

.header {
    background: rgb(163, 163, 226);
    text-align: center;
    color: rgb(1, 1, 2);
    font-size: xx-large;
    
  }
  
  .banner {
    font-size: 24px;
    font-weight: bold;
  }
  
  .content {
    padding: 10px;
  }
  
  .footer {
    background: gray;
    color: rgb(87, 61, 167);
  }