#root {
  background-image: url("./images/villa-4555824_1280.jpg"); /* background */
    background-repeat:no-repeat;
    background-size:cover;
    height: 100dvh;
    width: 100dvw;
    opacity: 85%;
}
/* .login{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
} */

/*login */
.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.inputWrapper {
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}


.about{
  background-color: aliceblue;
  opacity: 50%;
  text-align: center;

}

.header {
    text-shadow: 2px 3px 10px white;
    text-align: center;
    color:chartreuse;
    font-size: xx-large;
  }

.menu_btn{
  font-size: xx-large;
  margin-left: 2%;
  padding: 20px auto;
  text-shadow: 2px 5px 8px chartreuse;
  background: none;
  border-style: hidden;
  color: white;
}
.nav{
  font-size: xx-large;
  display: flex;
  color: white;
  background: local;
}


.btn_ul{
  padding-top: 5dvh;
  margin: auto;
  background: none;
  color: whitesmoke;
  border-style: none;
  font-size: xx-large;
  text-shadow: 2px 5px 8px chartreuse;
}

.footer {
  
}