.footer-main-contanier {
    background-image: linear-gradient(
      to right,
      purple,
      rgb(134, 63, 134),
      rgb(137, 90, 137)
    );
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
  }
  
  .all-right-reseved-icon {
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }